################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/.vs/BookStore/v16
/BookStore/BookStore/obj
/BookStore/BookStore/bin/Debug/net5.0
